body {
  background: #5680E9;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  float: left; 

}
.ilayout {
  min-height: 100%;
}

.container img {
  width: 100px;
}
header {
  background-image: url(Output.png);
  background-position: center;
  background-size: 100%;
  height: 285px
}


.body-one {
  background-color: white;
  margin: -25px 0px;
  color: #8860D0;
  display: flex;
  padding: 120px 100px;
  border-radius: 5%;
  border: 2px solid #8860D0;
  box-shadow: #84CEEB 0 0 10px;

}
#pagetitle {
  margin: -100px 0px;
}
.body-one img {
  border-radius: 5%;
  border: 2px solid #8860D0;
  box-shadow: #84CEEB 0 0 10px;
  height: 300px;
  width: 400px;
  margin-left: 0px;
  
}
.bodytext {
padding: 0px 50px 0px 50px;

}
/* social media button */
.social-menu ul {
  position: absolute;
  top: 750px;
  left: 300px;
  padding: 0%;
  margin: 0%;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-menu ul li {
  list-style: none;
  margin: 0 15px;

}

.social-menu ul li .fa {
  font-size: 30px;
  line-height: 60px;
  transition: .6s;
  color: white;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #8860D0;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba( 0,0,0,.5);
}

.social-menu ul li a:hover {
  transform: translate(0, -10px);
}
.social-menu ul li .fa:hover {
  color: #5680E9;
}


ul {
  list-style: none;
  margin: -120px 70px;
}

ul button {
  background-color: #84CEEB;
  border: white;
  border-radius: 40%;
}

li {
  float: left;
}

a {
  display: block;
  padding: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #8860D0;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  text-decoration: underline;
 }

.project-layout {
  background-color: white;
  margin: -25px 0px;
  text-align: center;
  color: #8860D0;
  padding: 20px;
  border-radius: 2%;
  border: 1px solid #8860D0;
  box-shadow: #84CEEB 0 0 10px;
  
  
}
.project-layout a {
  margin: 100px;
  padding: 50px 50px;
  
}
.project-layout img {
  border-radius: 50%;
  border: 2px solid #8860D0;
  box-shadow: #84CEEB 0 0 10px;
}
 .resume-one {
  background-color: white;
  margin: -25px 0px;
  text-align: center;
  color: #8860D0;
  padding: 20px;
  border-radius: 5%;
  border: 2px solid #8860D0;
  box-shadow: #84CEEB 0 0 10px;

 }
 /* Resume box */

 .resume {
   width: 1280px;
   margin: 70px auto 0;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }
 .resume .box 
 {
   position: relative;
   width: 300px;
   height: 300px;
   background: white;
   margin: 10px;
   box-sizing: border-box;
   display: inline-block;
 }
 .resume .box .imgBox
 {
   position: relative;
   overflow: hidden;
   
 }
 .resume .box .imgBox img
 {
   max-width: 100%;
   
   transition: transform 2s;
 }
 .resume .box:hover .imgBox img
 {
   transform: scale(1.2);

 }
 .resume .box .details
 {
   position: absolute;
   top: 10px;
   left: 10px;
   bottom: 10px;
   right: 10px;
   background: rgba(0, 0, 0, .8);
   transform: scaleY(0);
   transition: transform .5s;

 }
 .resume .box:hover .details
 {
   transform: scaleY(1);

 }
 .resume .box .details .content
 {
   position: absolute;
   top: 40%;
   transform: translateY(-50%);
   padding: 15px;
   color: #fff;
   text-align: center;
   padding: 40px;
 }
 .resume .box .details .content h2
 {
   margin: 0;
   padding: 0;
   font-size: 20px;
   color: #84CEEB;
 }
 #grambling
 {
   height: 220px;
   width: 220px;
   margin: 30px 45px 20px ;
 }
 #atlantic
{
  height: 190px;
  width: 240px;
  margin: 50px 30px 50px ;
}
#Morehouse 
{
  height: 30px;
  width: 250px;
  margin: 120px 25px 30px ;
}
